*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

html, body
{
    background: #111;
    color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -moz-font-smoothing: grayscale;
}

:root
{
    --panel-height: 35px;
}

.desktop
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 64px);
    grid-template-rows: repeat(auto-fit, 64px);
    height: calc(100vh - var(--panel-height));
    width: 100vw;
    gap: 10px;
    padding: 10px;
    background-position: center;
}

.windows-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100% - var(--panel-height));
    pointer-events: none;
    isolation: isolate;
}

.panel
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--panel-height);
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel .start-menu
{
    height: 100%;
    width: var(--panel-height);
    margin-right: 10px;
    display: grid;
    place-items: center;
}

.panel .panel-apps
{
    display: flex;
    align-items: center;
    width: 100%;
}

.panel-right
{
    display: flex;
    align-items: center;
}

.panel-right #clock
{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-weight: 500;
    font-family: monospace;
}

.panel #btnStartMenu
{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    transition-property: background, border;
    transition-duration: 0.1s;
    display: grid;
    place-items: center;
    user-select: none;
}

.panel #btnStartMenu img
{
    object-fit: scale-down;
    width: 70%;
    height: 70%;
    pointer-events: none;
    user-select: none;
}

.panel #btnStartMenu:focus
{
    outline: 2px solid white;
    outline-offset: -2px;
}

.panel #btnStartMenu:hover
{
    background-color: #fff2;
}

.panel .menu
{
    height: 60vh;
    width: 25vw;
    min-width: max-content;
    position: absolute;
    bottom: var(--panel-height);
    left: 0;
    background: #252525;
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
    outline: none;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
}

.panel .menu.show
{
    transform: scaleY(1);
    opacity: 1;
}

.panel panel-icon
{
    width: var(--panel-height);
    height: var(--panel-height);
    margin-right: 10px;
    border: none;
}
